.nav-bar{
  background-color: gray;
  padding: 10px;
}

.nav-bar a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){
  background-color: gray;
  color: black;
}

#customers tr:hover {background-color: magenta;}

#customers th {
  padding: 12px 0 12px 0;
  text-align: left;
  background-color: blue;
  color: white;
}
