.nav-bar{
  background-color: gray;
  padding: 10px;
}

.nav-bar a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-bar-right{
  float: right;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){
  background-color: gray;
  color: black;
}

#customers tr:hover {background-color: magenta;}

#customers th {
  padding: 12px 0 12px 0;
  text-align: left;
  background-color: blue;
  color: white;
}

.deletebutton{
  font-size: 18px;
}
.deletebutton:hover{
  background-color: red;
}

.addNewTransaction{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 2px solid #353636;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  
}
.addNewTransaction input, select{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addNewTransaction h2{
  text-align: center;
  
}
.addNewTransaction button{
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.addNewTransaction button:hover{
  background-color: aqua;
}

